<div id="<%= dom_id document %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= document.account_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= document.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Folder:</strong>
    <%= document.folder_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= document.content %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Summary:</strong>
    <%= document.summary %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= document.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Metadata:</strong>
    <%= document.metadata %>
  </div>
</div>
